body {
    /*background-color: rgb(246, 244, 231);*/
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
    overflow: scroll;
    max-width: 1100px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    
}

p {
    font-weight: 400;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

h2 {
    font-weight: 700;
    color: darkblue;
}


/* Header and NAV section */

header {
    display: flex;
    background-color: #D6EFEE;
    height: 10rem;
}

.header-image-container {
    display: flex;
    width: 100%;
}

.header-image-container img {
    width: 100%;
    height: auto;
    max-height: 10rem;
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    top: 10rem;
    background-color: #D6EFEE;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.625rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5rem;
}


/*#last-one {
    border-right: 1px solid black;
}*/

nav li :hover {
    background-color: darkblue;
    color: orange;
    transition: 0.15s;
}

/* Main content section*/

aside {
    font-style: italic;
    font-size: 1rem;
}

.intro-wrapper {
    width: 100%;
}

.bio .image-container {
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.jumbotron {
    float: right;
    height: auto;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
    width: 50%;
}

.jumbotron img {
    width: 100%;
    height: auto;
    max-height: 25rem;
}

.bio-wrapper {
    display: flex;
    padding: 2rem 2.5%;
}

.bio {
    display: block;
    max-width: 30%;
    padding: 0 1rem;
    text-align: center;
}

.bio-wrapper article {
    padding: 0 1rem;
    width: 70%;
}

